<div>
  <h4>Title <%= comment.title %></h4>
  <p class="comment">Content:<%= comment.content %></p>
  <%= link_to 'Delete', blog_comment_path(comment.blog, comment), method: :delete, data: {confirm: "Are you Sure?"} %>
</div>